<div class="container">
    <div class="headline">
        <h1>A list of all Users and Videos
        </h1>
    </div>
    <div class="row">
        <div class="col s2">
        </div>
        <div class="col s4">
            <h3>
            Users
            </h3>
            <h5>
            <%=link_to "Go to All Users Page", "/users/" %>
            </h5>
            <ul>
              <% @users.each do |user| %>
                <li>
                <%=link_to user.name, "/users/" + user.id.to_s %>
                </li>
              <% end %>
            </ul>
        </div>
        <div class="col s4">
            <h3>
            Videos
            </h3>
            <h5>
            <%=link_to "Go to All Videos Page", "/videos/" %>
            </h5>
            <ul>
              <% @videos.each do |video| %>
              <li>
              <%=link_to video.title, "/videos/" + video.id.to_s %>
              </li>
              <% end %>
            </ul>
        </div>
        <div class="col s2">
        </div>
    </div>
</div>
