<div class="row">
    <div class="headline">
        <h1>
        <%= @current_video.title %>
        </h1>
        <h5>
        <%=link_to 'Back to All Videos', "/videos/" %>
        </h5>
    </div>
</div>
<div class="row">
 <h4>Users who have viewed this video:</h4>
</div>
<div class="row">
    <div class="col s4">
    </div>
    <div class="col s8">
        <% if @viewers == nil %>
        <div>
            No one has viewed this video
        </div>
        <% else %>
        <div>
            <ul>
              <% @viewer_usernames.each do |name| %>
                <li>
                    username: <%name%>
                </li>
              <% end %>
            </ul>
        </div>
      <% end %>
    </div>
    <div class="col s4">
    </div>
</div>
